<div class="question">
  <p> <%= @question %></p>
  <p><em>-You</em></p>
</div>
<br>
<br>
<div class="answer">
  <p><%= @answer %></p>
  <p><em>Your coach</em></p>
</div>

<%= link_to "Ask a new question", question_path%>